<div class="contain">
  <div class="header">
    <div class="logo">{{"ProjectName"| translate: obj}}</div>
    <nav>
      <a routerLink='home' [routerLinkActive]="['active']">{{ "home" | translate }}</a>
      <a routerLink='manager' [routerLinkActive]="['active']">{{ "manage" | translate }}</a>
      <a routerLink='system' [routerLinkActive]="['active']">{{ "system" | translate }}</a>
    </nav>
    <div class="lang">
      <div class="form-group" style="width: 90px;float:right;">
        <select class="form-control form-control-sm"  [(ngModel)]="defaultLang" (change)="langChange($event.target.value)">
          <option [value] = "item.id" *ngFor="let item of languages">{{item.value}}</option>
        </select>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <footer>最终解释权归本人所有@cryingbat.github.com</footer>
</div>
