<div class="contain">
  <div class="header">
    <div class="logo">{{"ProjectName"| translate: obj}}</div>
    <nav>
      <a routerLink='home' [routerLinkActive]="['active']">{{ "home" | translate }}</a>
      <a routerLink='manager' [routerLinkActive]="['active']">{{ "manage" | translate }}</a>
      <a routerLink='system' [routerLinkActive]="['active']">{{ "system" | translate }}</a>
    </nav>
    <section>
      <div class="exit" (click)="exit()" translate>exit</div>
      <div class="lang">
        <div class="form-group" (click)="showLangOption()">
          {{defaultLang}}
        </div>
        <ul class="lang-option" *ngIf="showLang">
          <li class="opt" *ngFor="let item of languages" (click)="selectLang(item.id)">{{item.value}}</li>
        </ul>
      </div>
    </section>
    
  </div>
  <router-outlet></router-outlet>
  <footer>最终解释权归本人所有@cryingbat.github.com</footer>
</div>
